/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header and navigation */
header {
    background-color: #092947;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    font-family: "Lora", serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
    color: #fff;
}

.menu li {
    margin-right: 20px;
    font-size: 20px;
    font-family: "Lora", serif;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Styling for the main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.profile {
    flex-basis: calc(50% - 10px); /* Adjust this value and margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.profile img {
    max-width: 100%;
    border-radius: 50%;
}

.contact-info {
    text-align: center;
    font-family: "Lora", serif;
    margin-top: 20px;
}

.introduction {
    flex-basis: calc(50% - 1px); /* Adjust this value and margin as needed */
    margin-top: 50px;
}

/* Add more CSS styling as needed */
.contact-info h1 {
    font-size: 30px;
    font-family: "Lora", monospace;
    text-align: left;
}

.contact-info h4 {
    text-align: left;
    font-family: "Lora", monospace;
}

.contact-info p {
    font-size: 15px;
    font-family: "Lora", monospace;
    text-align: left;
    padding-bottom: 8px;
}

.introduction h2 {
    font-size: 40px;
    font-family: "Lora", monospace;
}

.introduction p {
    font-size: 25px;
    font-family: "Lora", monospace;
    margin-top: 30px;
    max-width: 600px;
}

/* Add this CSS code to center the .profile section */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Stack elements vertically on small screens */
    }

    .profile img {
    max-width: 30%;
    border-radius: 50%;
    }   

    .profile {
        flex-basis: 100%; /* Take up full width on small screens */
        text-align: center; /* Center-align the content */
        margin-right: 0; /* Remove right margin on small screens */
    }
    
    .introduction {
        flex-basis: 100%; /* Take up full width on small screens */
    }
}