/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header and navigation */
header {
    background-color: #092947;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    font-family: "Lora", serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
    font-size: 20px;
    font-family: "Lora", serif;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Styling for the main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.profile {
    flex-basis: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.profile img {
    max-width: 30%;
    border-radius: 50%;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
    font-family: "Lora", serif;
}

.introduction {
    flex-basis: 100%;
    margin-top: 20px;
}

/* Add more CSS styling as needed */
.contact-info h1 {
    font-size: 30px;
    font-family: "Lora", monospace;
    text-align: left;
}

.contact-info h4 {
    text-align: left;
    font-family

